- form_tag "/search" do
  = text_field_tag "location", 'City, State / Zip Code', :onfocus => 'if(this.value==this.defaultValue)this.value="";', :onblur => 'if(this.value=="")this.value=this.defaultValue;'
  = submit_tag "search"
  