*
{
  padding: 0;
  margin: 0;
}

html
{
  background: #7ACCFF;
  color: #000000;
  font-family: "Lucida Grande", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
  padding-bottom: 3px;
}

h1
{
  font-size: 24px;
  font-weight: bold;
}

h2
{
  font-size: 22px;
  font-weight: normal;
}

img
{
  border: none;
}

ul
{
  padding-left: 20px;
}
li
{
  padding-bottom: 3px;
}

a
{
  color: #000000;
}

a:link, a:visited
{
  text-decoration: underline;
}

a:hover
{
  text-decoration: none;
}

.clear
{
  clear: both;
}

#header_wrapper, #content_wrapper, #footer_wrapper
{
  width: 100%;
}

#header, #content, #footer
{
  width: 850px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
}

#header_wrapper
{
  height: 85px;
  padding: 5px 0;
  background: url(/images/bg_header.gif) repeat-x 0 100%;
  border-bottom: 1px solid #000000;
}

#header
{
  width: 880px;
  padding: 0;
}

#content_wrapper
{
  background: #83A686;
  border-top: 8px solid #AA0000;
  border-bottom: 8px solid #AA0000;
  position: relative;
  z-index: 2;
}

#content
{
  padding-top: 0;
  padding-bottom: 0;
  min-height: 453px;
  
  height: 100%;
  background: #FFFFFF url(/images/bg_canvas_white.jpg) repeat 0 0;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

#footer_wrapper
{
  min-height: 58px;
  background: url(/images/bg_footer.gif) repeat-x 0 0;
  border-top: 1px solid #000000;
  font-size: 0.9em;
  position: relative;
  z-index: 1;
}
#footer p
{
  float: left;
  padding: 8px;
}

#footer .search
{
  float: right;
  padding: 8px;
}

#footer .search form
{
  display: inline;
}

#tagline
{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#date_wrapper
{
  width: 750px;
  margin: 0 auto;
  padding: 5px 0;
}

#arrow_left
{
  float: left;
  width: 50px;
}

#arrow_right
{
  float: right;
}

#banner_date
{
  background: url(/images/bg_banner_date.png) no-repeat 0 0;
  height: 36px;
  width: 333px;
  padding: 15px 10px;
  text-align: center;
  margin: 0 auto;
}

.banner h2
{
  padding-bottom: 3px;
}

.banner p
{
  font-size: 12px;
}

#banner_head
{
  background: url(/images/bg_banner_head.png) no-repeat 0 0;
  width: 278px;
  height: 56px;
  padding: 13px 38px 33px 16px;
  text-align: center;
  
  position: absolute;
  top: 72px;
  left: 45px;
}

#banner_neck
{
  background: url(/images/bg_banner_neck.png) no-repeat 0 0;
  width: 199px;
  height: 61px;
  padding: 11px 28px 16px 59px;
  text-align: center;
  
  position: absolute;
  top: 77px;
  right: 105px;
}

#banner_body
{
  background: url(/images/bg_banner_body.png) no-repeat 0 0;
  width: 203px;
  height: 55px;
  padding: 36px 42px 27px 14px;
  text-align: center;
  
  position: absolute;
  left: 86px;
  bottom: 67px;
}

.banner_details
{
  width: 229px;
  padding: 15px;
  
  position: absolute;
  bottom: 0;
  right: 40px;
}

.banner_details.city_results
{
  position: relative;
  top: -25px;
  left: -15px;
}

.banner_details.sample_cities
{
  right: 0;
  top: 50px;
  z-index: 2;
}

.banner_details.weather
{
  height: 250px;
  bottom: 0;
}

.banner_details .top
{
  background: url(/images/bg_banner_details_top.png) no-repeat 0 0;
  height: 20px; 
}

.banner_details .middle
{
  background: url(/images/bg_banner_details_middle.png) repeat-y 0 0;
  padding: 0 15px;
}

.banner_details .bottom
{
  background: url(/images/bg_banner_details_bottom.png) no-repeat 0 0;
  height: 35px;
}

.banner_details table
{
  border-collapse: collapse;
  padding: 0 15px;
  width: 199px;
  font-size: 0.85em;
}

.details_content
{
  height: 100%;
  overflow: auto;
}

.details_content td
{
  width: 50%;
  text-align: right;
  padding: 5px 15px 5px 0;
  border-bottom: 1px solid #AAA;
}

.details_content td.value
{
  text-align: left;
  padding: 0;
}

#character
{
  position: absolute;
  top: 56px;
  left: 324px;
}

#character img
{
  position: absolute;
  top: 0;
  left: 0;
}

#figleaf_input
{
  border: 1px solid #AAAAAA;
  background: #666;
  padding: 15px;
  margin: 0 250px;
  width: 320px;
  position: absolute;
  top: 260px;
  text-align: center;
}

#figleaf_input input
{
  font-size: 16px;
}