<div class='current' id='home'>
  <div class='toolbar'>
    <h1>Figleaf Weather</h1>
  </div>
  
  <!-- Add an unordered list, css class of rounded looks nice -->
  <!-- Create a list item for each item in @home_page_cities (see index.haml), css class of arrow should be used -->
  <!-- For each list item, use link_to in order to display the city.  It should point to the display action on the weather controller -->
  
</div>