<div class='current' id='home'>
  <div class='toolbar'>
    <h1>Figleaf Weather</h1>
  </div>
  
  <!-- insert an unordered list, css class of rounded looks nice -->
  <!-- There is an instance variable called @home_page_cities that you can iterate through to create the list items -->
  <!-- css class of arrow can be used for the list items -->
  <!-- use link_to with the display action on the weather controller -->
  
</div>